---
import Layout from "../layouts/Layout.astro";

// Components
import Hero from "@/components/hero.astro";
import AboutMe from "@/components/about-me.astro";
---

<Layout>
  <main class="min-h-screen bg-gray-50">
    <Hero />
    <AboutMe />
  </main>
</Layout>
