---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Brayan Sanjuan</title>
    <meta
      name="description"
      content="Brayan Sanjuan is a software engineer based in Colombia."
    />
    <meta
      name="keywords"
      content="Brayan Sanjuan, software engineer, Colombia, developer, front-end developer, back-end developer, mobile developer"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
